SUPABASE_URL=https://cgvidgcgtuzgcuaszqsg.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNndmlkZ2NndHV6Z2N1YXN6cXNnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NjQ4NjEzNCwiZXhwIjoyMTAyMDYyMTM0fQ.dGF2SxrS4XPzKgx4d7nYdaLfsWm0m49aPE9B5lI4fuc
TELEGRAM_BOT_TOKEN=8695611064:AAE-ussT0QMFim8OaLiX4QTdSOhJmey89BE
TELEGRAM_CHAT_ID=-1004414349007
